body {
  background-color: #f6f6f6;
  font-family: Arial, sans-serif;
  text-align: center;
}

div {
  margin-top: 50px;
}

.img-button {
  background-color: #f6f6f6;
  background-image: url('assets/bread.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.img-button:active {
  background-size: 120%;
}

h2 {
  color: #666;
  font-size: 48px;
  margin-top: 50px;
}

.buttons-shop button {
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: background-size 0.2s ease-in-out;
}

.buttons-shop button:hover {
  transform: scale(1.2);
}

.reset-button{
  margin-top: 50px;
}

.buttons-shop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.button-shop p {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}




  
  
  
  
  